{% extends 'shop/basic.html' %}
{% block title %}About Us {% endblock %}
{% block body %}

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3"><i>ZaidBaba</i> - About Us</h1>
      <p>My Awesome Cart  is an online retail service based in Pakistan and owned by the
        Group. Launched in 2022, it is made up of small businesses in Pakistan and other locations,
        such as Singapore, that offer products to international online buyers. It is the most visited e-commerce
        website in the world and was the 10th most popular website in Brazil. It facilitates small businesses
        to sell to customers all over
        the world. My Awesome Cart has drawn comparison to eBay,
        as sellers are independent and use the platform to offer products to buyers.</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Business model</h2>
        <p>Sellers on My Awesome Cart can be either companies or individuals. AliExpress is different from Amazon because
          it acts only as an e-commerce
          platform and does not itself sell products directly to consumers.
          It directly connects Chinese businesses with buyers. </p>
      </div>
      <div class="col-md-4">
        <h2>Awards</h2>
        <p>Zaid Ahmed was awarded Entrepreneur of the Year, 2022
          from The Economic Times, a leading Indian economic daily newspaper.
In September 2022, the two founders entered Forbes India's richest Indian by year,
          debuting in the 86th position with a net worth of US$1.3 billion each.
In April 2022, Zaid Ahmed was named to Time magazine's annual list of the 100 Most Influential People in the World. </p>
      </div>
      <div class="col-md-4">
        <h2>Controversies and reviews</h2>
        <p>My Awesome Cart is not accredited by the Better Business Bureau Review which (as of September 3, 2022) lists 240
          complaints about the e-commerce platform.In review ratings (with 5.0 being the highest), review aggregator
          Trustpilot.com gives a 2.7 rating for AliExpress out of 127,882 reviews, with "invited"
          reviews tending to be the more positive.[</p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->


<footer class="container">
  <p>&copy; Company 2022</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script></body>
<main></main>

</html>
{% endblock %}